<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Apply for Articleship at Borkar and Borkar</title>
	<link rel="icon" href="images/ca.png">
	<meta name="referer" content="origin">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="description" content="Apply for articleship at Borkar and Borkar Charetered Accountants">
	<meta name="keywords"
		content="Borkar and Borkar Chartered Accountants, Borkar & Borkar Chartered Accountants, Borkar and Borkar Chartered Accountants website, Borkar and Borkar CA information, Articleship at Borkar and Borkar Chartered Accountants, Borkar and Borkar Chartered Accountants articleship, CA articleship, CA articleship in Pune, Chartered Accountants Firms in Pune, Chartered Accountants in Sadashiv peth, Work at Borkar and Borkar CA, Chartered Accountants in Pune, Audit, Articleship, Accounts" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135027522-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-135027522-2');
	</script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<link
		href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
		rel="stylesheet">

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<style>
		.trans {
			top: 1rem;
			padding-top: 0;
			background: rgba(211, 211, 211, 0.5);
			border: 0;
		}

		.liner:hover {
			border-bottom: 3px solid #705ecf;
		}

		.under {
			border-bottom: 4px solid #05b993;
			padding-bottom: 0.3rem;
		}

		nav a:hover {
			padding-bottom: 0.3rem;
			border-bottom: 4px solid cornflowerblue;
		}

		#leftside {
			z-index: 0;
			top: 50px;
			position: -webkit-sticky;
			position: sticky;
		}
	</style>
	<script src="js/script1.js"></script>
</head>

<body id="body"
	style="background-image: url('images/Screenshot (6).jpg');background-size: cover;background-attachment: fixed;">

	<!-- main banner -->
	<div class="main-top">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-lg-flex justify-content-between align-items-center py-3 px-sm-3">
					<!-- logo -->
					<div id="logo">
						<h1><a href="index.html">Borkar & Borkar Chartered Accountants</a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<label for="drop" class="toggle"><i class="fa fa-bars"></i></label>
							<input type="checkbox" id="drop" />
							<ul class="menu">
								<li><a href="index.html" class="">Home</a></li>
								<li><a href="about.html">About Us</a></li>
								<li>
									<!-- First Tier Drop Down -->
									<label for="drop-2" class="toggle toogle-2">Services <span class="fa fa-angle-down"
											aria-hidden="true"></span>
									</label>
									<a href="#">Services <span class="fa fa-angle-down" aria-hidden="true"></span></a>
									<input type="checkbox" id="drop-2" />
									<ul>
										<li><a href="accounting.html" class="drop-text">Accounting Services</a></li>
										<li><a href="audit.html" class="drop-text">Audit</a></li>
										<li><a href="export.html" class="drop-text">Export Incentives</a></li>
										<li><a href="finance.html" class="drop-text">Financial Services</a></li>
										<li><a href="incorporation.html" class="drop-text">Incorporation Services</a>
										</li>
										<li><a href="tax.html" class="drop-text">Tax</a></li>
									</ul>
								</li>
								<li><a href="articleship.html" class="active under">Articleship</a></li>
								<li><a href="contact.html">Contact Us</a></li>
							</ul>
						</nav>
					</div>
					<!-- //nav -->
					<div class="dropdown show">
						<a class="btn btn-secondary dropdown-toggle nav-item " href="#" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
							style="background-color: #705ecf;color:white">
							<span class="fa fa-user"> </span> Login
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="https://www.cadashboard.com/" target="_blank"
								style="color: #705ecf;"><em class="fa fa-pie-chart"></em>
								Dashboard</a>
							<a class="dropdown-item" href="http://mail.borkarandborkar.com/interface/root"
								target="_blank" style="color: #705ecf;"><em class="fa fa-envelope"></em>
								Email</a>
						</div>
					</div>
				</div>
			</div>
	</div>
	</header>
	<!-- //header -->

	</div>
	<!-- //main banner -->
	<!-- contact -->
	<div class="contact py-5" id="contact">
		<div class="container pb-xl-5 pb-lg-3">
			<div class="row">
				<div class="col-lg-6">
					<div id="leftside">
						<h2 style="padding-top: 3rem;">Get a chance to work with us.</h2> <br>
						<p class="lead" style="color: black;"> Join us as intern and become one of us. As a fresher, you
							will have ton of things to learn from, get to see how industry works. This is a great place
							to jumpstart your career.</p>
					</div>
				</div>
				<div class="col-lg-6 mt-lg-0 mt-5" id="app1">
					<!-- contact form grid -->
					<noscript>
						<div class="jumbotron text-center">
							<img src="https://image.flaticon.com/icons/svg/1649/1649189.svg" alt="JAVASCRIPT"
								style="height: 64px;width: 64px;"> <br>
							<h2 style="color: orangered">Seems like you have disabled JavaScript. Kindly enable
								JavaScript in your browser to fill this form.</h2>
						</div>
					</noscript>
					<div class="contact-top1" id="form">
						<div class="form-group">
							<p class="lead" style="color: black">Personal details</p> <br>
							<div class="row">
								<div class="col-md-6">
									<label>First Name</label>
									<input class="form-control" type="text" placeholder="ex. Vijay" id="fname"
										name="fname" required="">
								</div>
								<div class="col-md-6">
									<label>Last Name</label>
									<input class="form-control" type="text" placeholder="ex. Seth" id="lname"
										name="lname" required="">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6 mt-md-0 mt-4">
									<label>Email</label>
									<input class="form-control" type="email" placeholder="example@mail.com" id="email"
										name="email" required="">
								</div>
								<div class="col-md-6">
									<label>Mobile</label>
									<input class="form-control" type="text" placeholder="xxxxx xxxxx" id="mobile"
										name="mobile" required="">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-12">
									<label>Address</label>
									<textarea placeholder="Enter Your Present Address" id="address" name="address"
										class="form-control"></textarea>
								</div>
							</div>
						</div>
						<p class="lead" style="color: black;">Academic details</p> <br>
						<div class="row">
							<div class="form-group col-md-6">
								<label>12th Score <small>(don't put % sign)</small></label>
								<input type="text" class="form-control" id="xii" placeholder="12th score">
							</div>
							<div class="form-group col-md-6">
								<label>CA Foundation/CPT Score</label>
								<input type="text" class="form-control" id="cpt" placeholder="CA Foundation/CPT Score">
							</div>
						</div>
						<div class="form-group">
							<label for="text">ICAI Registration No.</label>
							<input type="text" class="form-control" placeholder="ex.WRO1234567" name="icaireg"
								id="icaireg">
						</div>
						<div class="form-group">
							<form action="">
								<table>
									<tr>
										<td>Groups Cleared: </td>
										<td><input type="radio" id="groups1" value="1" v-model="group"> Group 1 </td>
										<td><input type="radio" id="groups2" value="2" v-model="group"> Group 2 </td>
										<td><input type="radio" id="groups3" value="Both" v-model="group"> Both </td>
										<td><input type="radio" id="groups4" value="Direct" v-model="group"> Direct
											Entry </td>
									</tr>
								</table>
							</form>
						</div>
						<div class="row">
							<div v-if="group === '1' || group === 'Both'" class="col-md-6">
								<p class="lead">Group 1 Aggregate</p>
								<label> Group 1 aggregate score </label>
								<input class="form-control" type="text" placeholder="ex. 201" id="grp1">
							</div> <br>
							<div v-if="group === '2' || group === 'Both'" class="col-md-6">
								<p class="lead">Group 2 Aggregate</p>
								<label> Group 2 aggregate score </label>
								<input class="form-control" type="text" placeholder="ex. 152" id="grp2">
							</div>
							<div class="col-md-12" v-if="group === 'Direct'">
								<p class="lead">Direct Entry Scheme</p>
								<label>B.Com Score</label><small> (don't put % sign)</small>
								<input class="form-control" type="text" placeholder="ex. 71.3" id="dir">
							</div>
						</div>
						<div class="form-group">
							<p class="lead">Attach Resume</p> <br>
							<label>Resume(.PDF, .DOC) <small>(Size max 2 MB)</small> </label>
							<input type="file" name="resume" id="resume" class="form-control" onchange="fileup()">
						</div>
						<div class="g-recaptcha" data-sitekey="6Ldw0rkUAAAAAEHgA_DEjaOvROtboW4VzqnFnTLR"></div>
						<div class="row mt-3">
							<p class="err" id="err"></p> <br>
							<p class="err" id="err1"></p> <br>
							<p class="err" id="err2"></p> <br>
							<div class="col-md-12">
								<button onclick="apply()" id="btnSb"
									class="btn btn-cont-w3 btn-block mt-4">Apply</button>
							</div>
						</div>
					</div>
					<!-- //contact form grid ends here -->
				</div>
			</div>
		</div>
	</div>
	<!-- //contact-->

	<!-- copyright bottom -->
	<div class="copy-bottom bg-li py-4 border-top">
		<div class="container-fluid">
			<div class="d-md-flex px-md-3 position-relative text-center">
				<!-- copyright -->
				<p style="left: 0;"> <i class="fa fa-phone"></i> +91 9975495376</p>
				<div class="copy_right mx-md-auto mb-md-0 mb-3">

					<p class="text-bl let" id="cptxt">© 2019 Borkar & Borkar Chartered Accountants. All rights reserved
					</p>
				</div>
				<!-- //copyright -->
				<p style="left: 0;"> <i class="fa fa-envelope"></i> <a
						href="mailto:borkarandborkarca@yahoo.com">borkarandborkarca@yahoo.com </a></p>
				<!-- move top icon -->
				<a href="#home" class="move-top text-center">
					<span class="fa fa-level-up" aria-hidden="true"></span>
				</a>
				<!-- //move top icon -->
			</div>
		</div>
	</div>
	<!-- //copyright bottom -->

	<script>
		var d = new Date();
		var n = d.getFullYear();

		document.getElementById("cptxt").innerHTML = "©" + n + " Borkar & Borkar Chartered Accountants. All rights reserved";
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="js/vs-238328.js"></script>
</body>

</html>